.ng-calendar-wrapper {
  width: 1200px;
  max-width: 100vw;
  height: 800px;
  max-height: 90vh;
}

::ng-deep .custom-event-tag {
  z-index: 1 !important;
  resize: vertical;
  min-height: calc(var(--sx-week-grid-hour-height) / 2);
}